server:
  port: 8080

spring:
  profiles:
    active: h2
    # active: mysql
  jpa:
    hibernate:
      ddl-auto: create
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org:
      hibernate: info

